body {
  margin: 0;
  position: relative;
}

#dark-mode {
  display: none;
}

#dark-mode-img {
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  bottom: 16px;
  height: 32px;
  position: fixed;
  right: 16px;
  transform: rotate(0deg);
  transition: 0.5s;
  width: 32px;
}

#dark-mode:checked + label > #dark-mode-img {
  transform: rotate(180deg);
}

#dark-mode:checked ~ #main {
  background-color: black;
  color: white;
}

#main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.rem {
  height: 100%;
}

.rem:first-child {
  display: none;
}

#timer {
  align-items: center;
  font-size: 48px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.description {
  font-size: 24px;
  opacity: 0.7;
}

#counter-end {
  width: 100%;
}

.end-text {
  font-size: 24px;
  text-align: center;
}

.end-img {
  margin: 8px 0;
  width: 100%;
}

@media screen and (min-width: 600px) {
  section {
    flex-direction: row;
  }

  .rem {
    height: 300px;
  }

  .rem:first-child {
    display: block;
  }
}